html{

  font-family: Bitter;
}

.nav-wrapper{
  padding-top:5px;
    height: 40px;
    line-height: 30px;
}
nav .brand-logo { 
    font-size: 1.6rem; 
    
}

body{

  background: url("https://cdn.dribbble.com/users/17332/screenshots/1886380/pattern.jpg");
  
}

  main {
  
    min-height:88%;
    display: flex;
    flex-flow:row ;
justify-content: space-between;
align-items: center;
  }
.image-card{
  width:300px;
border-radius: 15px;
}

.image-card-2{
  
  width:300px;
  border-radius: 15px;
  }
#convert{

  align-self: center
}


.card-image{
padding:5px;

}



  footer .footer-copyright{
    height:40px;
  }    



@media only screen and (max-width: 670px){
    nav, nav .nav-wrapper {
        height: 30px;
        line-height: 30px;
    }
main{

  flex-flow: column;
}

}